.postCard{
    height: 300px;
    width: 390px;
    padding: 1.2em;
    margin: 1.7em;
    margin-top: 2em;
    line-height: 1.7em;
    border: 1px solid grey;
    border-radius: 6px;
    overflow: scroll;
    box-shadow: 5px 10px #064f80;
    background-image: url("https://media1.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif");
    flex-direction: row;
  }

  .addpostbutton{
      padding:1.2em;
      align-items:center;

  }

  .commentArea{
    margin: 1.7em;
    margin-top: 2em;
    padding: .5rem!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: .6rem!important;
    border: 1px solid #dee2e6!important;
    background-color: #f8f9fa!important;
    flex: 1 1;
    box-sizing: border-box;
    display: block;
    
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

