.postCard{
    height: 300px;
    width: 390px;
    padding: 1.2em;
    margin: 1.7em;
    margin-top: 2em;
    line-height: 1.7em;
    border: 1px solid grey;
    border-radius: 6px;
    overflow: scroll;
    box-shadow: 5px 10px #064f80;
    background-image: url("https://media1.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif");
    flex-direction: row;
    // background-color: #0459da;
    // box-shadow: 5px 10px #39315f;
    // background-color: #5274b3;
  }

  .addpostbutton{
      padding:1.2em;
      align-items:center;

  }

  .commentArea{
    margin: 1.7em;
    margin-top: 2em;
    padding: .5rem!important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: .6rem!important;
    border: 1px solid #dee2e6!important;
    background-color: #f8f9fa!important;
    flex: 1 1;
    box-sizing: border-box;
    display: block;
    
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

//   @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

// @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

// body {
// 	font-family: "Montserrat", sans-serif;
// 	min-height: 80vh;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	flex-direction: row;
// 	// background: linear-gradient(-45deg, #ee7752, #e73c7e, #7acdeb, #587971);
// 	background: linear-gradient(-45deg, #292625, #8397a00e, #7acdeb, #4f288d);
//     // background: linear-gradient(#a0abc0, #5e9be0);


// 	// background-image: url("https://i.pinimg.com/originals/4e/30/c9/4e30c95dc885f880a2c2797fdee0e042.gif");
// 	background-size: 400% 400%;
// 	animation: gradient 5s ease infinite;
// }

// * {
// 	font-family: "Montserrat", sans-serif !important;
// }

// @keyframes gradient {
// 	0% {
// 		background-position: 0% 50%;
// 	}
// 	50% {
// 		background-position: 100% 50%;
// 	}
// 	100% {
// 		background-position: 0% 50%;
// 	}
// }