
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

body {
	font-family: "Montserrat", sans-serif;
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: linear-gradient(-45deg,rgba(192, 192, 192, 0.527),rgb(207, 189, 189), #3f3b3a, #8397a00e, #7acdeb,rgb(0, 89, 255),rgb(49, 77, 153),rgb(59, 59, 180), #4f288d);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

* {
	font-family: "Montserrat", sans-serif !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// Welcome
.welcomeImg{
	align-items: center;
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	
}

h1{
	text-align: center;
	
}
button{
	background-color: silver;
	opacity:inherit

}

